In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
website = 'https://www.coingecko.com'
response = requests.get(website)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
results = soup.find('table', class_='table-scrollable').find('tbody').find_all('tr')
len(result)

NameError: ignored

In [5]:
results[0].find('td',class_='coin-name').get_text().strip()
results[0].find('td', class_='td-price').get_text().strip()
results[0].find('td', class_='td-change24h').get_text().strip()
results[0].find('td', class_='td-change7d').get_text().strip()
results[0].find('td', class_='td-liquidity_score').get_text().strip()
results[0].find('td', class_='td-market_cap').get_text().strip()

'$1,088,111,501,425'

In [7]:
name = []
price = []
change_24h = []
change_7d = []
market_cap = []
volume_24h = []

for i in range(1,12):
  website = 'https://www.coingecko.com/en?page=' + str(i)
  response = requests.get(website)
  soup = BeautifulSoup(response.content, 'html.parser')
  results = soup.find('table', class_='table-scrollable').find('tbody').find_all('tr')


  for result in results:
    try:
      name.append(result.find('td',class_='coin-name').get_text().strip())

      price.append(result.find('td', class_='td-price').get_text().strip())
      change_24h.append(result.find('td', class_='td-change24h').get_text().strip())
      change_7d.append(result.find('td', class_='td-change7d').get_text().strip())
      volume_24h.append(result.find('td', class_='td-liquidity_score').get_text().strip())
      market_cap.append(result.find('td', class_='td-market_cap').get_text().strip())
    except:
      name.append('na')
      price.append('na')
      change_24h.append('na')
      change_7d.append('na')
      volume_24h.append('na')
      market_cap.append('na')
df = pd.DataFrame({'Name':name, 'Price':price,'24H':change_24h, '7D':change_7d, '24H Volume':volume_24h, 'Market Cap':market_cap})

In [9]:
df.head()

                           Name      Price  ...       24H Volume          Market Cap
0       Bitcoin\n \nBTC\n \nBTC    $57,571  ...  $37,662,015,161  $1,088,111,501,425
1      Ethereum\n \nETH\n \nETH  $4,026.91  ...  $20,896,466,609    $476,232,192,959
2  Binance Coin\n \nBNB\n \nBNB    $535.75  ...   $2,581,912,893     $91,089,787,975
3      Tether\n \nUSDT\n \nUSDT      $1.00  ...  $76,328,053,878     $74,416,327,702
4        Solana\n \nSOL\n \nSOL    $193.76  ...   $3,029,058,596     $58,798,159,381

[5 rows x 6 columns]

In [10]:
df.tail()

                                      Name  ...   Market Cap
1095                   NXT\n \nNXT\n \nNXT  ...  $16,273,081
1096          Pallapay\n \nPALLA\n \nPALLA  ...  $16,192,830
1097        Port Finance\n \nPORT\n \nPORT  ...  $16,138,463
1098                  Nash\n \nNEX\n \nNEX  ...  $16,119,656
1099  Steam Exchange\n \nSTEAMX\n \nSTEAMX  ...  $16,060,301

[5 rows x 6 columns]

In [11]:
df.to_excel('crypto.xlsx', index=False)

In [35]:
df.isna().sum()

Name          0
Price         0
24H           0
7D            0
24H Volume    0
Market Cap    0
dtype: int64